.project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    text-decoration: none;
    color: inherit;
}

.project-info {
    width: 50%;
}

.project-image {
    width: 250px;
}

.project-image img {
    width: 100%;
    height: auto;
}

.project-title {
    font-family: 'Proxima Nova Semibold' , sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

.project-description {
    margin-bottom: 10px;
    font-family: 'Helvetica Light' , sans-serif;
    font-size: 14px;
    justify-content: left;
}

.project-tags {
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0em; /* adjusted for clarity */
  justify-content: left;
}


.square-container {
  width: 250px;          /* choose your square size */
  height: 250px;         /* same as width */
  background: rgb(2, 2, 4);     /* black bars above/below */
  display: flex;
  align-items: center;   /* center vertically */
  justify-content: center; /* center horizontally */
  overflow: hidden;
}

.square-container img {
  max-width: 100%;
  max-height: 100%;
}